/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2021, 5:31:44 PM
*/

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.sortable tr {
    cursor: pointer;
}

.modal-header-dark{
    background-color: #1e2429;
    color : #ffffff;
    font-weight: bold;
}
.model-btn-close{
    color:#ffffff !important;
}
.validation-msg{
    color:red;
}
.pointer-cursor{
    cursor: pointer;
}
.dark-mode-font-color{
    color: white;
}
